name: RunTests

# only trigger on main or PR
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "**"

jobs:
  run-tests:

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app
      - name: Verify swift version
        run: swift --version
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
